@charset "utf-8";
body  {
	background: #666666;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #666;
	font-family: "Lucida Sans Unicode", Tahoma, Verdana;
	font-size: 90%;
	background-image: url(images/bg_grey.jpg);
}
.twoColLiqLtHdr #container {
	width: 70%;
	text-align: left; /* this overrides the text-align: center on the body element. */
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-image: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
} 
.twoColLiqLtHdr #header {
	padding: 0 10px;
	background-image: none;
	text-align: right;
} 
.twoColLiqLtHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	text-align: right;
}

/* Tips for sidebar1:
1. since we are working in percentages, it's best not to use padding on the sidebar. It will be added to the width for standards compliant browsers creating an unknown actual width. 
2. Space between the side of the div and the elements within it can be created by placing a left and right margin on those elements as seen in the ".twoColLiqLtHdr #sidebar1 p" rule.
3. Since Explorer calculates widths after the parent element is rendered, you may occasionally run into unexplained bugs with percentage-based columns. If you need more predictable results, you may choose to change to pixel sized columns.
*/
.twoColLiqLtHdr #sidebar1 {
	float: left;
	width: 130px;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 0;
	text-align: left;
	text-decoration: none;
}
.twoColLiqLtHdr #sidebar1 h3, .twoColLiqLtHdr #sidebar1 p {
	margin-left: 10px; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 10px;
	font-size: 12px;
	text-decoration: none;
}

/* Tips for mainContent:
1. the space between the mainContent and sidebar1 is created with the left margin on the mainContent div.  No matter how much content the sidebar1 div contains, the column space will remain. You can remove this left margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends.
2. to avoid float drop at a supported minimum 800 x 600 resolution, elements within the mainContent div should be 430px or smaller (this includes images).
3. in the Internet Explorer Conditional Comment below, the zoom property is used to give the mainContent "hasLayout." This avoids several IE-specific bugs.
*/
.twoColLiqLtHdr #mainContent {
	font-size: 100%;
	margin-top: 0;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 15%;
	text-decoration: none;
} 
.twoColLiqLtHdr #footer {
	padding: 0 10px;
} 
.twoColLiqLtHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	text-align: right;
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
.heading1grey {
	font-family: "Lucida Sans Unicode", Tahoma, Verdana;
	font-size: 24px;
	color: #999;
	text-decoration: none;
}
.heading1red {
	font-family: "Lucida Sans Unicode", Tahoma, Verdana;
	color: #F00;
	font-size: 24px;
	text-decoration: none;
}
.heading1green {
	font-family: "Lucida Sans Unicode", Tahoma, Verdana;
	color: #0F0;
	font-size: 24px;
	text-decoration: none;
}
.heading1blue {
	font-family: "Lucida Sans Unicode", Tahoma, Verdana;
	color: #0FF;
	font-size: 24px;
	text-decoration: none;
}
.contentgrey {
	font-family: "Lucida Sans Unicode", Tahoma, Verdana;
	color: #999;
	font-size: 12px;
	text-align: justify;
	text-decoration: none;
}
.contentred {
	font-family: "Lucida Sans Unicode", Tahoma, Verdana;
	color: #F00;
	font-size: 12px;
	text-align: justify;
	text-decoration: none;
}
.contentgreen {
	font-family: "Lucida Sans Unicode", Tahoma, Verdana;
	color: #0F0;
	font-size: 12px;
	text-align: justify;
	text-decoration: none;
}
.contentblue {
	font-family: "Lucida Sans Unicode", Tahoma, Verdana;
	color: #0FF;
	font-size: 12px;
	text-align: justify;
	text-decoration: none;
}
.contentblack {
	font-family: "Lucida Sans Unicode", Tahoma, Verdana;
	color: #000;
	font-size: 12px;
	text-align: justify;
	text-decoration: none;
}
